{{ define "main" }}

<section id="resource-single" class="add-padding-bottom">
	<div class='container add-padding-top add-padding-bottom'>
    <nav class="breadcrumb add-padding-top" aria-label="breadcrumbs">
      <ul>
        <li><a href="/resources/">Resources</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ .Params.Title }}</a></li>
      </ul>
    </nav><!-- end of .breadcrumbs -->
    <div class="has-text-centered add-padding">
      <h1>{{ .Params.Title }}</h1>
      <div class="content">
        {{ .Content }}
      </div><!-- end of .content -->
      <div class="buttons is-centered add-padding-bottom">
        <a class='button is-primary is-outlined is-medium' href='{{ .Params.href }}' target='_blank'>Read More</a>
      </div>
      <a class='' href='{{ .Params.href }}' target='_blank'>
        <img class="image center" src='{{ .Params.img }}' />
      </a>
    </div>
	</div><!-- end of .container -->
</section><!-- end of .resource-single -->

{{ end }}
