@import "bootstrap/scss/bootstrap.scss";

$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/* Grays */
$very-dark: #031927;
// $dark-gray: #243142; //bluer hue
$dark-gray: #2D3047; //purpler hue
$mid-gray: #8693AB;
$light-gray: #CEDBE5;
$lighter-gray: #E3E9F2;
$light: #F0F8FF;
$lightest: #F3F3FF;

/* Accent Colors*/
$orange: #FF934F;
$purple: #4B296B;
$dark-purple: #26193B;
$bright-purple: #632999;
$teal: #5CB0BC;

/* Link Colors */
$l-link: $light;
$link: #0EBBF4;

/* Risk Level Colors */
$r1: #cc444b; // red - worst
$r2: #d8774f;
$r3: #de9151;
$r4: #e9b15d;
$r5: #fff275;
$r6: #d3e468;
$r7: #7ac74f; // green - best

$input-box-shadow: none;
$input-focus-box-shadow: none;

/*******************************************************/
/******* Breakpoints / Media Query Mixin ***************/
/*******************************************************/

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

// Custom devices
@mixin rwd($screen) {
   @media (min-width: $screen+'px') {
       @content;
   }
}

/*******************************************************/
/******* Linear Gradients Mixin / Functions ************/
/*******************************************************/
@mixin linear-gradient($direction, $color-stops...){
  // Direction has been omitted and happens to be a $color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }
  // Color fall back incase gradient not supported
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

// Test if `$value` is a valid direction

@function is-direction($value) {
  $is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
  $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

  @return $is-keyword or $is-angle;
}

/// Convert a direction to legacy syntax
@function legacy-direction($value) {
  @if is-direction($value) == false {
    @error "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
  }

  $conversion-map: (
    to top          : bottom,
    to top right    : bottom left,
    to right top    : left bottom,
    to right        : left,
    to bottom right : top left,
    to right bottom : left top,
    to bottom       : top,
    to bottom left  : top right,
    to left bottom  : right top,
    to left         : right,
    to left top     : right bottom,
    to top left     : bottom right
  );

  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }

  @return 90deg - $value;
}


/*******************************************************/
/******* General Elements ******************************/
/*******************************************************/

html {
  position: relative;
  min-height: 100vh !important;
  overflow-x: hidden;
}

body {
  position: relative;
  min-height: 100vh;
  // padding-bottom: 70px;
  padding-top: 30px; // accounting for navbar-height
  overflow-x: hidden;

  font-family: $font-family-sans-serif;

  @include linear-gradient($light-gray, $lighter-gray);
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: 300;
  color: $very-dark;
}

p {
  color: $dark-gray;
  font-weight: 300;
}

a {
  font-weight: 300;
  color: $link;
  &:hover {
    font-weight: 400;
  }
}

hr {
  border-top: solid 1px $lightest;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &.dark {
    border-top: solid rgba($mid-gray, .5) 1px;
  }

  &.light{
    border-top: solid rgba(255,255,255,.15) 1px;
  }
}

/*******************************************************/
/******* Text Styling **********************************/
/*******************************************************/

.bold {
  font-weight: bold;
}

.larger {
  font-size: larger;
}

.t-dark {
  color: $very-dark;
}

.t-mid {
  color: $light-gray;
}

.t-light {
  color: $lightest;
}

.t-shadow-light {
    text-shadow: 0px 2px 2px rgba($very-dark, .2);
}

.t-shadow-dark {
    text-shadow: 0px 2px 2px rgba($very-dark, .5);
}

/*******************************************************/
/******* Background Colors *****************************/
/*******************************************************/

.background-light {
  background-color: $lightest;
}

.background-mid {
  background-color: $mid-gray;
}

.background-dark {
  background-color: $dark-gray;
}

.background-gradient {
  &.lighter-grays {
    @include linear-gradient(rgba($mid-gray, .4 ), rgba($dark-gray, .5));
  }
  &.grays {
    @include linear-gradient($dark-gray, $mid-gray);
  }
  &.colorful {
    color: $lightest;
    @include linear-gradient(rgba($dark-purple, 1), $teal);
  }
  &.purples {
    @include linear-gradient(rgba($dark-purple, .8), rgba($purple,.8));
  }
}
