.modal-content {
  text-align: center;
}

.modal-header {
  background-color: $dark-purple;
  border-radius: .2em .2em 0 0;
  .close {
    color: $lightest;
  }
}

.modal-body {

  p.icon {
    margin-bottom: .5em;
    font-size: 2em;
    i.fa-stack-1x {
      font-size: .8em;
      color: $orange;
      text-shadow: 0px 1px 1px rgba($dark-purple, .8);
    }
    i.fa-stack-2x {
      font-size: 1.8em !important;
      color: rgba($dark-purple, .75);
      padding-top: .1em;
    }
  }
}

.tech-list {
  .modal-header {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
  p.icon {
    font-size: 2em;
    padding-top: .5em;
    margin-bottom: 0;
  }
  .modal-list-title {
    text-align: center;
    padding: 1em;
    padding-top: .5em;
    margin-bottom: 0;
    padding-bottom: .2em;
    font-weight: 300;
    span {
      font-size: 1.1em;
    }
  }
  .modal-list-subtitle {
    padding-bottom: .5em;
    color: rgba($very-dark, .5);
  }
  .modal-body {
    padding-top: 0;
  }
  #modal-list {
    padding-top: 0;
    p.modal-tech-name {
      text-align: left;
      margin: 0;
      padding: .4em 1em;
      font-size: .9em;
      &:nth-child(odd){
        background-color: rgba($mid-gray, .1);
      }
      &:nth-child(even){
        background-color: rgba($mid-gray, .2);
      }
    }
    .match {
      color: $purple;
      font-weight: 400;
      i.check {
        padding-left: 1em;
        color: $r7;
      }
    }
  }

  .modal-footer {
    padding: .75rem .1rem;
    .btn {
      font-size: 1em;
    }
  }
}
