$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/* Older Colors */
$pink: lighten(#ef8b8b, 15%);
$secondary: $pink;
$info: lighten(#94c9f0, 15%);
$dark: #333333;
$gray-200: #E9ECEF;

/* Grays */
$very-dark: #031927;
$dark-gray: #2D3047;
$mid-gray: #8693AB;
$light-gray: #BDD4E7;
$light: #F0F8FF;
$lightest: #F3F3FF;

/* Accent Colors*/
$orange: #FF934F;
$purple: #4B296B;
$dark-purple: #26193B;
$teal: #5CB0BC;

/* Link Colors */
$l-link: $light;
$d-link: #18C5F9;

$input-border-color: $gray-200;
$input-box-shadow: none;
$input-focus-box-shadow: none;

$spacer: 1rem;

/*******************************************************/
/******* Breakpoints / Media Query Mixin ***************/
/*******************************************************/

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

// Custom devices
@mixin rwd($screen) {
   @media (min-width: $screen+'px') {
       @content;
   }
}

/*******************************************************/
/******* Linear Gradients Mixin / Functions ************/
/*******************************************************/
@mixin linear-gradient($direction, $color-stops...){
  // Direction has been omitted and happens to be a $color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }
  // Color fall back incase gradient not supported
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

// Test if `$value` is a valid direction

@function is-direction($value) {
  $is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
  $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

  @return $is-keyword or $is-angle;
}

/// Convert a direction to legacy syntax
@function legacy-direction($value) {
  @if is-direction($value) == false {
    @error "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
  }

  $conversion-map: (
    to top          : bottom,
    to top right    : bottom left,
    to right top    : left bottom,
    to right        : left,
    to bottom right : top left,
    to right bottom : left top,
    to bottom       : top,
    to bottom left  : top right,
    to left bottom  : right top,
    to left         : right,
    to left top     : right bottom,
    to top left     : bottom right
  );

  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }

  @return 90deg - $value;
}

/* HTML */

html {
  position: relative;
  min-height: 100vh !important;
}

/* Body */

body {
  position: relative;
  min-height: 100vh !important;
  // padding-bottom: 180px;
  padding-bottom: 70px;

  @include linear-gradient($mid-gray, $light-gray);
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff !important;
  font-weight: 400 !important;
  font-size: 1.4rem !important;

  &.main {
    color: $dark-gray !important;
  }

  @include sm {
    font-size: 1.8rem !important;

  }

  @include md {
    font-size: 2.0rem !important;
  }

  @include lg {
    font-size: 2.4rem !important;
  }
}

h4, h5, h6 {
  font-size: 1.2rem !important;
}

hr {
  border-top: solid 1px $lightest !important;
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

p, li {
  color: black;
  font-size: 1em !important;

  @include sm {
    text-align: left;
  }

  &.text-muted {
    color: $light !important;
  }

  &.center {
    text-align: center;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }
}

a {
  color: $d-link !important;
  text-decoration: underline;

  &.center{
    text-aligh: center !important;
  }
}

img {
  &.small {
    max-width: 250px !important;
    max-height: 200px !important;
  }
}

strong {
  color: $light;
}

.bold {
  font-weight: bold !important;
}

.larger {
  font-size: larger !important;
}

.t-dark {
  color: $very-dark !important;
}

.t-mid {
  color: $light !important;
}

.t-light {
  color: $lightest !important;
}

.t-shadow {
    text-shadow: 1px 2px 2px rgba($very-dark, .2);
}

.t-left {
  text-align: left !important;
}

.background-light {
    background-color: $lightest;
}

.background-dark {
  background-color: $dark-gray;
}

.background-trans {
  background-color: rgba($lightest, .4);
}

.background-gradient {
  @include linear-gradient($mid-gray, $light-gray);
}

.background-orange {
  background-color: $purple !important;
}

.background-img {
  background-image: url('/images/landscape-01.png');
  background-size: cover;
  background-position: bottom;
}

.block {
  text-align: center !important;
  p, h1, h2 {
    text-align: center !important;
  }
  h1{
    font-size: 1.25em !important;
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.75em !important;
  }
  a{
    text-decoration: underline !important;
  }
}

/***************************** Cards */

.card {
  border: none !important;
}

.card-header {
  background-color: $mid-gray !important;
  color: $lightest !important;
  p{
    margin-bottom: 0;
  }
}

.card-body {
  background-color: rgba($lightest, .8) !important;
}

/***************************** Modals */

.modal-header {
  background-color: $dark-purple !important;


  border-radius: 0 !important;

  .close {
    color: $lightest !important;
  }
}

.modal-body {
  p, h4 {
    text-align: center !important;
    color: $dark-gray !important;
  }
}

.modal-footer {
  background-color: $dark-purple !important;
  // background-color: $dark-purple !important;

  .btn {
    background-color: transparent !important;
    border: 1px solid rgba($lightest, .5) !important;
    color: $lightest !important;
    font-size: 1.2em !important;

    &:hover {
      background-color: rgba($lightest,.05) !important;
    }
  }
}

/**************************** Images */

.img-link {

  img {
    max-width: 120px;
    margin-top: 2em;
    padding: .4em;
  }

  @include sm{

    img {
      max-width: 150px;
      max-height: 70px;

    }
  }

}

.figure-img{
  max-height: 200px;
  &:hover {
    box-shadow: 0 0 10px 2px $light-gray;
  }
}

.figure-caption{
  a{
    &:hover{
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.link {

  &.resources {
    color: $lightest !important;
    font-size: 1.3rem;
  }

  &.career {
    color: $dark-gray !important;
    font-size: 1.3rem;
  }

  .img {
    text-align: center !important;
  }

  i.fas {
    padding-left: 8px;
    color: #d8774f !important;
  }

  &:hover {
    color: $very-dark !important;
    text-decoration: none;
    font-weight: bold;

    i.fas {
      padding-left: 9px;
    }
  }
}

.btn-primary {
  background-color: $orange !important;
  color: #fff !important;
  border: $orange 1px solid !important;

  &.bigger {
    padding: 10px 24px 10px 24px;
    @include md {
      font-size: larger;
    }
  }
}

.resource-div {
  p {
    opacity: .6 !important;
  }
}

.resource-img {
    display: block !important;
    margin: 0 auto !important;
}

.social-link {
    font-size: 2.2em !important;
    color: $orange !important;
    padding-right: .5em;
}

table.table {
  thead {
    background-color: rgba($dark-gray, .5) !important;
    th {
      font-weight: 100 !important;
    }
  }
  tbody {
    color: $dark-gray !important;
    background-color: $lightest !important;
  }

  th{
    padding-left: 1.5em !important;
  }
}

#home-content {
  // z-index: 3 !important;

  h1 {
    font-size: 1.8em !important;
    padding-top: 1em;

    @include sm {
      font-size: 3em !important;
    }
  }

  h2{
    font-size: 1.2em !important;
    @include sm {
      font-size: 1.5em !important;
    }
  }

  p {
    font-size: 1em !important;

    @include sm{
      font-size: 1.2em !important;
    }
  }

  .container, .container-fluid {
    z-index: 4 !important;
  }
}

#home-hero {
  background-image: url('/images/landscape-01.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#featured-on {
  p {
    color: $lightest !important;
    opacity: .8 !important;
  }
}

#why {
  h3 {
    text-align: center;
  }

  p {

    @include lg {
      font-size: 1em !important;

      &:first-child {
        // padding-top: 8em !important;
      }
    }
  }

  img {
    width: 100%;
    max-width: 600px;
      display: block;
      margin: 0 auto !important;
  }
}

#form-get_notified,
#form-email-testing {
  margin: 0 auto;
  max-width: 400px;
}

#surf-knight {
  display: block;
  margin: 2em auto !important;
  max-width: 500px;
}

#score-div {
 padding-left: 0 !important;
 padding-right: 0 !important;

  #header {
    h1, h2 {
      margin-bottom: 0 !important;
    }

    h2 {
      font-size: 1.5em !important;
    }
  }
}

/* Nav */
nav {
  z-index: 5;
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;

  .nav-link {
    color: $light !important;
    text-transform: none;
    padding: 8px 0px 8px 40px !important;
    @include sm{
      margin-top: 30px;
    }
  }

  .navbar-brand {
    padding-top: 0;
    @include sm{
      margin-top: 30px;
    }
  }

  .dropdown-menu {
    background-color: $mid-gray !important;
    border: none !important;
  }

  .dropdown-item {
    &:hover {
      background-color: $dark-gray !important;
      color: $lightest !important;
    }
  }

  @include sm {
    padding-top: 0.5rem !important;
  }
}

/* Footer */

footer {
  position: absolute;
  bottom: 0;
  background-color: rgba($dark-gray, .4) !important;
  width: 100%;
  color: #fff;
  font-size: 0.85rem;

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
    text-transform: uppercase;
  }

  li {
    margin: none;
    margin-bottom: .25em;
  }

  a {
    color: $lightest !important;
    font-size: 1.2em !important;

    &:hover, &:focus, &:active {
      color: $orange !important;
      text-decoration: none;
    }

    &:visited {
      color: $orange !important;
    }
  }

  hr {
    margin: 0 0;
    border: none;
    border-top: solid rgba(255,255,255,.15) 1px;
  }
}

@import "bootstrap/scss/bootstrap.scss";
