<!-- Footer -->
<footer class="page-footer">

  <!-- Footer Links -->
  <div class="container text-center text-md-left pt-4 px-4">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-sm-6 col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Company</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/about/">About Us</a>
          </li>
          <li>
            <a href="/downtime/">Downtime Assessment</a>
          </li>
          <li>
            <a href="/careers/">Careers</a>
          </li>
          <li>
            <a href="/contact/">Contact</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-sm-6 col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">About</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/resources/">Resources</a>
          </li>
          <li>
            <a href="/licenses/">Licenses</a>
          </li>
          <li>
            <a href="/privacy/">Privacy Policy</a>
          </li>
          <li>
            <a href="/tos/">Terms of Service</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6">

        <!-- Content -->
        <h5 class="">Follow Us</h5>
        <div class='d-flex flex-row justify-content-center justify-content-md-start'>
          <div class='p-2'><a href='https://www.linkedin.com/company/cyberfortress/' class='social' target='_blank'><i class="fab fa-linkedin-in"></i></a></div>
          <div class='p-2'><a href='https://www.instagram.com/cyberfortress/' class='social' target='_blank'><i class="fab fa-instagram"></i></a></div>
          <div class='p-2'><a href='https://www.facebook.com/digitalrook/' class='social' target='_blank'><i class="fab fa-facebook-f"></i></a></div>
          <div class='p-2'><a href='https://twitter.com/digitalrook' class='social' target='_blank'><i class="fab fa-twitter"></i></a></div>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center pb-3">© CyberFortress Insurance Services US, LLC
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
