<footer class='d-print-none'>
  <section class='m-4'>
    <div class='container text-center'>
      <a href='/licenses/'>Licenses</a> | <span>&copy; CyberFortress Insurance Services US, LLC</span>
    </div>
  </section>
</footer>




<!-- <footer class='footer'>
  <div class='container px-2 py-4'>
    <div class='row justify-content-between'>

      <div class='col-sm-4 text-center'>
        <a href='/'><img src='/images/white_rook.png' /></a>
      </div>

      <div class='col-sm-5'>
        <p class='t-light bold larger'>
          Address
        </p>
        <hr />
        <p class=''>
          CyberFortress<br />
          110 E. Houston Street, Suite 600<br />
          San Antonio, TX 78205
        </p>


      </div>
      <!--end of .col-->

      <!-- <div class='col-sm-3'>
        <p class='t-light bold larger'>
          Helpful Links
        </p>
        <hr />
        <ul>
          <li>
            <a href='/resources/'>Resources</a>
          </li>
          <li>
            <a href='/licenses/'>Licenses</a>
          </li>
        </ul>
      </div>
      <!--end of .col-->

      <!-- <div class='col-sm-12'>
        <p id='email' class='center pt-4'>
          <a href='mailto:info@cyberfortress.com'>info@cyberfortress.com</a>
        </p>
        <a class='social-link' target='_blank' href='https://www.instagram.com/cyberfortress/'><i class="fab fa-instagram"></i></a>
        <a class='social-link' target='_blank' href='https://www.facebook.com/digitalrook/'><i class="fab fa-facebook-square"></i></a>
        <a class='social-link' target='_blank' href='https://twitter.com/digitalrook'><i class="fab fa-twitter"></i></a>
        <a class='social-link' target='_blank' href='https://www.linkedin.com/company/cyberfortress/'><i class="fab fa-linkedin-in"></i></a>
      </div>
      end of .col-->
    <!-- </div>
    <!--end of .row-->
    <!-- <div class="footer-copyright text-center">
      <span class='t-dark'>&copy; 2019 CyberFortress Insurance Services US, LLC</span>
    </div>
</footer> -->
