<footer class="footer">
  <div class="container">
    <div class="content">
      <div class="columns is-desktop is-multiline">

          <!-- Links -->
          <div class="column is-half-desktop">
            <div class="columns is-mobile is-multiline">

              <!-- Rook -->
              <div class="column add-padding-bottom is-one-fifth-mobile is-one-quarter-tablet is-one-quarter-desktop">
                <figure id="footer-logo" class="image is-32x32">
                  <img src="/images/white_rook.png" alt="CyberFortress Logo"/>
                </figure>
              </div>

                <!-- Insurance -->
                <div class="column is-two-fifths-mobile is-one-quarter-tablet">
                  <h6 class="is-uppercase">Insurance</h6>
                  <ul class="no-style">
                    <li>
                      <a href="https://app.cyberfortress.com">Get A Quote</a>
                    </li>
                    <li>
                      <a href="/policy/">Our Policy</a>
                    </li>
                    <li>
                      <a href="/licenses/">Licenses</a>
                    </li>
                  </ul>
                </div><!-- end of .column -->

                <!-- Company -->
                <div class="column is-two-fifths-mobile is-one-quarter-tablet">
                  <h6 class="is-uppercase">Company</h6>
                  <ul class="no-style">
                    <li>
                      <a href="/about/">About Us</a>
                    </li>
                    <!-- <li>
                      <a href="/about/culture/">Our Culture</a>
                    </li> -->
                    <li>
                      <a href="/careers/">Join Us</a>
                    </li>
                  </ul>
                </div><!-- end of .column -->

                <!-- Resources -->
                <div class="column is-offset-one-fifth-mobile is-four-fifths-mobile is-one-quarter-tablet">
                  <h6 class="is-uppercase">Resources</h6>
                  <ul class="no-style">
                    <li>
                      <a href="/faq/">FAQ</a>
                    </li>
                    <li>
                      <a href="/resources/">Downloads</a>
                    </li>
                    <li>
                      <a href="/privacy/">Privacy Policy</a>
                    </li>
                    <li>
                      <a href="/tos/">Terms of Service</a>
                    </li>
                    <!-- <li>
                      <a href="/terrorism/">Terrorism Disclousure</a>
                    </li> -->
                  </ul>
                </div><!-- end of .column -->

            </div><!-- end of .columns -->
          </div><!-- end of .column -->

          <!-- <hr class="is-mobile" /> -->

          <!-- Contact / Follow -->
          <div class="column is-half-desktop">
            <div class="columns is-mobile is-multiline">

              <!-- COntact Info -->
              <div class="column is-offset-one-fifth-mobile is-four-fifths-mobile is-offset-one-quarter-tablet is-one-third-tablet is-offset-one-fifth-desktop is-two-fifths-desktop">
                <h6 class="is-uppercase">Contact</h6>
                <ul class="no-style">
                  <li>
                    <a href="">info@cyberfortress.com</a>
                  </li>
                  <li>
                    <a href="">1-856-281-3814</a>
                  </li>
                  <li>
                    110 E. Houston St. Ste. 209<br />
                    San Antonio, TX 78205
                  </li>
                </ul>
              </div>

              <!-- Social Media Linkes -->
              <div class="column is-offset-one-fifth-mobile is-four-fifths-mobile is-one-quarter-tablet is-narrow-desktop">
                <h6 class="is-uppercase">Follow Us</h6>
                <div class="level is-mobile">
                  <div class="level-item">
                    <a href="https://www.linkedin.com/company/cyberfortress/" alt="LinkedIn">
                      <span class="icon is-medium">
                        <i class="fab fa-2x fa-linkedin-in"></i>
                      </span>
                    </a>
                  </div>
                  <div class="level-item">
                    <a href="https://www.instagram.com/cyberfortress/" alt="Instagram">
                      <span class="icon is-medium">
                        <i class="fab fa-2x fa-instagram"></i>
                      </span>
                    </a>
                  </div>
                  <div class="level-item">
                    <a href="https://www.facebook.com/digitalrook/" alt="Facebook">
                      <span class="icon is-medium">
                        <i class="fab fa-2x fa-facebook"></i>
                      </span>
                    </a>
                  </div>
                  <div class="level-item">
                    <a href="https://twitter.com/digitalrook/" alt="Twitter">
                      <span class="icon is-medium">
                        <i class="fab fa-2x fa-twitter"></i>
                      </span>
                    </a>
                  </div>
                </div><!-- end of .level -->
              </div><!-- end of .column -->

            </div><!-- end of .columns -->
          </div><!-- end of .column -->
      </div><!-- end of .columns -->
    </div><!-- end of .content -->
  </div><!-- end of .container -->
</footer>
<p class="copyright">
  © CyberFortress Insurance Services US, LLC
</p>
