<nav class='navbar navbar-expand-md navbar-dark'>
  <div class='container'>
    <a class='navbar-brand' href='/'>
      <img src='/images/logo-cf.svg' height='30' class='' alt='CyberFortress'>
    </a>

    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarContent' aria-controls='navbarContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div id='navbarContent' class='collapse navbar-collapse text-right mt-4 mt-sm-0' id='nav1'>
      <ul class='navbar-nav ml-auto'>
        <li class='nav-item'>
          <a class='nav-link' href='/'>Home</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/downtime/'>Downtime Risk</a>
        </li>

        <li class='nav-item dropdown'>
          <a id='navbarDropdown' class='nav-link dropdown-toggle' href='#' role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Who are we?
          </a>
          <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about/">About</a>
            <a class="dropdown-item" href='/about/#team'>Team</a>
            <a class="dropdown-item" href="/about/culture/">Culture</a>
            <a class='dropdown-item' href='/careers/'>Join Us</a>
          </div>
        </li>
        <!-- <li class='nav-item'>
          <a class='nav-link' href='/faq/'>FAQ</a>
        </li> -->
        <!-- <li class='nav-item'>
          <a class='nav-link' href='/contact/'>Contact</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<div id='top'></div>
