<nav class='navbar navbar-expand-sm navbar-dark'>
  <div class='container'>
    <a class='navbar-brand' href='/'>
      <img src='/images/logo-cf.svg' height='30' class='' alt='CyberFortress'>
    </a>

    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarContent' aria-controls='navbarContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div id='navbarContent' class='collapse navbar-collapse text-right mt-4 mt-sm-0' id='nav1'>
      <ul class='navbar-nav ml-auto'>
        <li class='nav-item'><a class='nav-link' href='/about/'>About Us</a></li>
        <li class='nav-item'><a class='nav-link' href='/about/the-cyberfortress-team/'>Team</a></li>
        <li class='nav-item'><a class='nav-link' href='/about/culture/'>Culture</a></li>
        <li class='nav-item'><a class='nav-link' href='/careers/'>Join Us</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id='top'></div>
