<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">

  <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/darker_logo.png" height="30">
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div><!-- end of navbar-brand -->

    <div id="navbar" class="navbar-menu">

      <div class="navbar-start">

      </div><!-- end of navbar-start -->

      <div class="navbar-end">
        <a class="navbar-item" href="/">
          Home
        </a>
        <a class="navbar-item" href="/policy/">
          Policy
        </a>
        <a class="navbar-item" href="/faq/">
          FAQ
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            CyberFortress
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/about/">
              About Us
            </a>
            <a class="navbar-item" href="/about/#team">
              The Team
            </a>
            <!-- <a class="navbar-item" href="/about/culture/">
              Our Culture
            </a> -->
            <a class="navbar-item" href="/careers/">
              Join Us
            </a>
          </div>
        </div>
        <div class="navbar-item">
          <div class="field is-grouped">
            <a class="button is-primary is-outlined" href="https://app.cyberfortress.com">
              Log In
            </a>
            <a class="button is-primary" href="https://app.cyberfortress.com">
              Get A Quote
            </a>
          </div>
        </div>

      </div><!-- end of navbar-end -->
    </div><!-- end of navbar-menu -->
  </div><!-- end of .container -->
</nav>
