{{ define "main" }}
<section>
	<div class='container has-text-centered-touch'>
		<h1 class="add-padding-top">Careers at CyberFortress</h1>
		<p class="subtitle">
			We believe that small business insurance should be easy to understand, easy to buy, and easy to file a claim.
		</p>
		<p>
			Interested in joining? Check out our
			<a href='/about/culture/' class='purple'>Culture Blueprint</a>.
		</p>
		<div class="add-padding-top">
			{{ range $i, $e := .Data.Pages }}
			<p>
				<a class='' href='{{ .RelPermalink }}'> <i class="far fa-angle-right"></i> {{ .Title }} </a>
				<!-- {{ truncate 140 .Content }} -->
			</p>
			{{ end }}
		</div>
	</div><!-- end of .container -->
</section>

{{ end }}
