{{ define "main" }}

<div class='container-fluid hero'>
	<div class='row align-items-center'>
		<div class='col'>
			<h1>Join Us</h1>
		</div>
	</div>
</div>

<section class='pb-5'>

  <div class='container'>
    <div class='row '>
      <div class='col'>
        <p class='bold center'>We believe that small business insurance should be easy to understand, easy to buy, and easy to file a claim. </p>
        <p class='center'>Interested in joining us? Read our <a href='/about/culture/'>culture blueprint</a> and let us know what you think!</p>
        <hr />
      </div>
    </div>

    {{ range $i, $e := .Data.Pages }}
    <div class='row'>
      <div class='col'>
        {{ if eq $i 0 }}
        <h2 class='text-center'>Careers</h2>
        {{ end }}
        <div class='mb-2 mt-3 pl-4'>
          <a class='link career' href='{{ .RelPermalink }}'>{{ .Title }} <i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>

    {{ end }}

  </div>

</section>

{{ end }}
