{{ define "main" }}

<section class='mt-4 mb-4 single-career'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-8 offset-md-0'>

        <h1 class='display-4'>{{ .Params.Title }}</h1>
        <p class='mb-5'><strong>{{ if isset .Params "location" }}{{ .Params.Location }}{{ else }}San Antonio, TX{{ end }}</strong></p>

        {{ .Content }}

        <h2>About CyberFortress</h2>
        <p>CyberFortress was formed to be a new kind of company to tackle a big problem. Insurance is one of the most painful and hated experiences in modern life. We want to change that. But we don’t think we can change the insurance industry
          without first changing ourselves. So we have thrown out a lot of the startup playbook: No founder dictators. No managers. No vesting handcuffs. No work obsession leading to burnout. No living in a future that doesn’t exist.</p>

        <p>We are a community of owners engaged in a common project and governed through thoughtful and open debate rather than top-down managers. We want every employee-owner to have a rich life of which work is an integral and fulfilling part.</p>

        <a class='mt-4 btn btn-primary' href='mailto:careers@cyberfortress.com?subject=RE: {{ .Params.Title }}'>Apply Today</a>

      </div>
    </div>
  </div>

</section>

{{ end }}
