{{ define "main"}}

<main id="404">


  <div class='container-fluid p-5 background-gradient colorful'>
    <div class='d-flex flex-column justify-content-center align-items-center block background-light text-center mb-4'>
      <div class='header'>
        <h2 class='pb-3'>404 Error</h2>
        <h1>Sorry, we couldn't find that page...</h1>
      </div>
      <div class='body 404'>
        <div class='d-flex flex-column justify-content-center'>
          <div>
            <img src='/images/shrugknight.svg' class='medium' />
            <a class='block larger underline pt-3' href='/'>Go Home</a>
          </div>
        </div>
      </div>


    </div>
  </div>



</main>

{{ end }}
