{{ define "heading" }}
<!-- Override base heading section ... -->
{{ end }}

{{ define "main" }}
<div id='background-img'></div>
<section id='home-content'>
  <div class = 'container py-5'>
    <div class = 'row py-4'>
      <div class = 'col text-light text-center'>
        <h1 class='t-shadow-lg mt-4'>Digital means vulnerable.</h2>
        <h2 class='mb-5'>A new way to protect your online revenue in minutes.</h1>
        <a class='btn btn-primary mt-5 bigger' href="mailto:info@cyberfortress.com?subject=Tell%20me%20more%20about%20CyberFortress!">Learn More</a>
      </div>
    </div>
  </div>
</section>

{{ end }}
