{{ define "main" }}

<section class='py-5 text-white md'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>

        <h1 class='mb-5 display-4'>{{ .Params.Title }}</h1>

        {{ .Content }}

        <!-- <p>
          CyberFortress was formed to be a new kind of company to tackle a big problem. Insurance is one of the most painful and hated experiences in modern life. We want to change that. But we don’t think we can change the insurance industry
          without first changing ourselves. So we have thrown out a lot of the startup playbook: No founder dictators. No managers. No vesting handcuffs. No work obsession leading to burnout. No living in a future that doesn’t exist.
        </p>
        <hr /> -->
      </div>
      <!-- <div class='row col-12'>
        <div id='list-col' class='col-12 col-md-4'>
          <h2>Contents</h2>
          <ul class='contents-list'>
            <li id='culture'>What is a culture?</li>
            <li id='nar'>Our Narrative
              <ul>
                <li id='nar-1'>Part 1 - The Flawed Corporate Form</li>
                <li id='nar-2'>Part 2 - Small Business and the Internet</li>
                <li id='nar-3'>Part 3 - The Existing Insurnce Industry is Anti-Customer</li>
              </ul>
            </li>
            <li id='mis'>Mission</li>
            <li id='val'>Values</li>
            <li id='prin'>Principles
              <ul>
                <li id='prin-1'>Part 1 - The Common Good</li>
                <li id='prin-2'>Part 2 - Anti-Bureaucracy</li>
                <li id='prin-3'>Part 3 - Quality of Life</li>
              </ul>
            </li>
            <li id='prac'>Practices &amp; Tools</li>
          </ul>
        </div>
        <div id='content-col' class='col-12 col-md-8'>
          {{ .Content }}
        </div>
      </div> -->
    </div>
  </div>

</section>

{{ end }}
